### Using the titanic data, in your classification-exercises repository, create a notebook, model.ipynb where you will do the following:

In [1]:
import pandas as pd
from sklearn.dummy import DummyClassifier
from sklearn.metrics import classification_report
import acquire
import perpare
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = acquire.get_titanic_data()

In [7]:
df.isna().sum()

Unnamed: 0        0
passenger_id      0
survived          0
pclass            0
sex               0
age             177
sibsp             0
parch             0
fare              0
embarked          2
class             0
deck            688
embark_town       2
alone             0
dtype: int64

In [9]:
train, validate, test = perpare.prep_titanic(df)

In [10]:
train.head()

     survived  pclass        age  sibsp  parch      fare  alone  Q  S  male
583         0       1  36.000000      0      0   40.1250      1  0  0     1
337         1       1  41.000000      0      0  134.5000      1  0  0     0
50          0       3   7.000000      4      1   39.6875      0  0  1     1
218         1       1  32.000000      0      0   76.2917      1  0  0     0
31          1       1  29.916875      1      0  146.5208      0  0  0     0

### What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.

In [12]:
# create X & y version of train, where y is a series with just the target variable and X are all the features. 

X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [13]:
# We need to creat a baseline model
baseline = DummyClassifier(strategy='constant', constant=0)
baseline.fit(X_train, y_train)

DummyClassifier(constant=0, strategy='constant')

In [14]:
# Our baseline accuracy is 62%
accuracy = round(baseline.score(X_train, y_train), 2)
accuracy

0.62

In [15]:
train['prediction'] = baseline.predict(X_train)

In [16]:
pd.DataFrame(classification_report(train.survived, train.prediction, output_dict=True)).transpose()

              precision    recall  f1-score     support
0              0.617706  1.000000  0.763682  307.000000
1              0.000000  0.000000  0.000000  190.000000
accuracy       0.617706  0.617706  0.617706    0.617706
macro avg      0.308853  0.500000  0.381841  497.000000
weighted avg   0.381561  0.617706  0.471731  497.000000

In [19]:
# lets make a decision tree
clf = DecisionTreeClassifier(max_depth=3, random_state=123)

In [20]:
model1 = clf.fit(X_train, y_train)

In [21]:
import graphviz
from graphviz import Graph

dot_data = export_graphviz(clf, feature_names= X_train.columns, rounded=True, filled=True, out_file=None)
graph = graphviz.Source(dot_data) 

graph.render('Titanic_tree', view=True)

'Titanic_tree.pdf'

In [22]:
accuracy = round(model1.score(X_train, y_train), 2)
accuracy

0.82

In [23]:
train['prediction'] = model1.predict(X_train)

In [ ]:
pd.DataFrame(classification_report(train.survived, train.prediction, output_dict=True)).transpose()

In [ ]:
## lets test on validate
validate_accuracy = accuracy = round(clf.score(X_validate, y_validate), 2)
validate_accuracy

In [ ]:
test_accuracy  = round(clf.score(X_test, y_test), 2)
test_accuracy

In [ ]:
# lets try a new tree
clf2 = DecisionTreeClassifier(max_depth=5, random_state=123)

In [ ]:
model2 = clf2.fit(X_train, y_train)

In [ ]:
import graphviz
from graphviz import Graph

dot_data = export_graphviz(clf2, feature_names= X_train.columns, rounded=True, filled=True, out_file=None)
graph = graphviz.Source(dot_data) 

graph.render('Titanic_tree', view=True)

In [ ]:
accuracy = round(model2.score(X_train, y_train), 2)
accuracy

In [ ]:
pd.DataFrame(classification_report(train.survived, train.prediction, output_dict=True)).transpose()

In [ ]:
validate_accuracy = round(clf2.score(X_validate, y_validate), 2)
validate_accuracy

In [ ]:
y_pred = clf2.predict(X_validate)
print(classification_report(y_validate, y_pred))

In [ ]:
y_pred = clf.predict(X_train)
confusion_matrix(y_train, y_pred)